.api {
  max-width: 800px;
  margin: auto;
  padding: 100px 10px 0px 10px;

  .card {
    padding: 0px 0px 70px 0px;
  }

  .icon {
    display: inline-block;
    text-align: center;
    min-width: 100px;
    font-size: 1.4em;
    font-weight: 200;
    vertical-align: top;
    padding-bottom: 20px;

    i {
      // -webkit-font-smoothing: antialiased!important;
      // -moz-osx-font-smoothing: grayscale!important;
    }
  }

  .slider {
    height: 400px;
  }

  .loader {
    width: 500px;
    height: 400px;
    margin: auto;
  }
}
