@import "../../style/index";

.adStepBar {

  /* &.discreet { */
    display: flex;
    width: 100%;
    padding: 10px 0px;
    align-items: center;

    .adStepBarBar {
      height: 1px;
      flex: 1 1 auto;
      background: $foreground_hue1;
    }

    .adStepBarStep {
      width: 0px;
      flex: 0 0 0px;

      .adStepBarStepInner2 {
        width: 0px;
        box-sizing: border-box;
      }

      .adStepBarStepInner {
        &.normalSize {
          $minWidth: 4px;
          $maxWidth: 8px;
          position: relative;
          width: $maxWidth;
          left: - $maxWidth/2;
          text-align: center;
        }

        .adStepBarIndicator {
          background: $foreground_hue2;
          @include rotate(45deg);
          position: relative;
          cursor: pointer;
          border: none;
          outline: none;
          padding: 0;

          $properties: $defaultFunction $defaultDuration width,
          $defaultFunction $defaultDuration height,
          $defaultFunction $defaultDuration background-color;

          @include transition($properties);

          &.normalSize {
            $minWidth: 6px;
            $maxWidth: 8px;
            width: $minWidth;
            // flex: 0 0 $minWidth;
            height: $minWidth;
            top: 1px;

            &:hover, &.active {
              // flex: 0 0 $maxWidth;
              height: $maxWidth;
              width: $maxWidth;
              top: 1px;

            }
          }

          &:hover, &.active {
            background-color: $foreground;

          }
        }
      }
    }

    // .adStepBarStep {
    //   background: $foreground_hue2;
    //   @include rotate(45deg);
    //   position: relative;
    //   cursor: pointer;
    //
    //   $properties: $defaultFunction $defaultDuration width,
    //     $defaultFunction $defaultDuration height,
    //     $defaultFunction $defaultDuration flex,
    //     $defaultFunction $defaultDuration background-color;
    //
    //   @include transition($properties);
    //
    //   &.normalSize {
    //     $width: 6px;
    //     flex: 0 0 $width;
    //     height: $width;
    //     top: 1px;
    //
    //     &:hover, &.active {
    //       $width: 8px;
    //       flex: 0 0 $width;
    //       height: $width;
    //       top: 1px;
    //
    //     }
    //   }

    //   &:hover, &.active {
    //     background-color: $foreground;
    //
    //   }
    // }
  /* } */
}
