.AdGallery {
  height: 200px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .viewBox {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 500ms ease-out;

  }
  .slide {
    position: relative;
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
  }
}
