@import "../../../style/index";

.adIconButton {
  text-align: center;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  &.normalSize {
    min-width: 100px;
  }

  .adIconButtonIcon {
    font-size: 1em;
    color: $foreground;
  }

  &.discreet {
    .adIconButtonIcon {
      @include transition(color $defaultFunction $defaultDuration);
      color: $foreground_hue2;
    }
  }

  .adIconButtonLabel {
    padding-top: 5px;
    opacity: 0;
    @include font;
    color: $foreground;
    font-size: 0.7em;
    @include transition(opacity $defaultFunction $defaultDuration);
  }

  &:hover {
    .adIconButtonLabel {
      opacity: 1;
    }

    .adIconButtonIcon {
      color: $foreground;
    }
  }


}
