@import "../../../style/index";

.adButton {

  @include borderedWidget;

  // box-sizing: border-box;
  // background-color: transparent;
  // cursor: pointer;
  // overflow: hidden;
  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: row;
  //
  // vertical-align: middle;
  //
  // position: relative;
  // z-index: z('button');
  //
  // /* prevent a href style */
  // outline: none;
  // text-decoration: none;
  //
  // &.normalSize {
  //   height: $widgetNormalHeight;
  //   padding: 12px 20px;
  //   border: $borderNormalWidth solid $foreground;
  //   font-size: 1em;
  //   margin-right: $formNormalMargin;
  //   margin-bottom: $formNormalMargin;
  // }



  &.fluid {
    display: flex;
    width: 100%;
    margin-left: 0;
    &:last-child {
      margin-bottom: 0px;
    }
  }


  .adButtonLabel {
    position: relative;
    z-index: z('button') + 1;
    @include fontBold;
    color: $foreground;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 0.95em;
    outline: none;
    flex: 0 0 auto;
  }

  .adButtonIcon {
    position: relative;
    z-index: z('button') + 1;
    color: $foreground;
    vertical-align: middle;
    font-weight: 700;
    margin-left: 5px;
    flex: 0 0 auto;
  }

  &.normalSize {
    &.discreet {
      border: 1px solid $foreground_hue1;

      &:hover {
        border: $borderNormalWidth solid $foreground;
        color: $foreground;
      }

      .adButtonLabel {
        color: $foreground_hue1;
        @include transition($defaultDuration $defaultFunction color);

      }

      .adButtonIcon {
        color: $foreground_hue1;
      }
    }
  }


  &:before {
    content: " ";
    display: inline-block;
    z-index: z('button') - 1;
    position: absolute;
    width: 500%;
    height: 500%;
    bottom: 0%;
    right: 120%;

    // top: -200%;
    // right: 120%;
    // width: 1000px;
    // height: 1000px;
    background: $foreground;
    @include transform(rotate(-30deg));
    @include transition(right linear $defaultDuration);
    transform-origin: bottom right;

    // right: 0;
    // bottom: 0;
  }

  &:after {
    content: " ";
    display: inline-block;
    z-index: z('button') - 1;
    position: absolute;
    width: 300%;
    height: 100%;
    bottom: 0%;
    right: 120%;
    margin-right: 100px;

    background: $foreground;
    @include transition(right linear $defaultDuration);
    transform-origin: bottom right;
  }

  &:hover {
    &:before {
      right: -40%;
    }

    &:after {
      right: -40%;
    }

    .adButtonLabel, .adButtonIcon {
      @include transition(color $defaultFunction $defaultDuration);
      color: $background;
    }
  }



}
