@import "../../../style/index";

.adTextarea {
  display: block;
  height: 300px;

  &.normalSize {
    border: $borderNormalWidth solid $foreground;
    margin-bottom: $formNormalMargin;
  }


  .adTextareaContent {
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: $foreground;
    @include font;
    display: inline-block;
    font-size: 0.95em;
    overflow-y: auto;
    resize: none;


    &.normalSize {
      padding: 12px;
    }
  }
}
