@import "~styles/themes";
@import "~styles/transitions";

.AdBoard {
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  position: relative;
  z-index: 10;

  * {
    &::-webkit-scrollbar {
      width: 4px;
      background: transparent;
    }

    &::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece, ::-webkit-scrollbar-corner {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      @include interactionTransition;
    }
  }


  @each $theme in $themes {
    &.#{$theme} {
      background: background($theme);
      color: foreground($theme);
      font-size:  defaultFontSize($theme);
      font-family: defaultFontFamily($theme);
      font-weight: defaultFontWeight($theme);

      h1 {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: titleFontWeight($theme);
        font-family: titleFontFamily($theme);
      }

      h2 {
        // text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: subtitleFontWeight($theme);
        font-family: subtitleFontFamily($theme);
      }

      blockquote {
        border-left: 4px solid foregroundHue2($theme);
        color: foregroundHue2($theme);
        padding-left: 15px;
        margin: 12px 0;
      }

      strong {
        color: foreground($theme);
        font-weight: 400;
      }

      a {
        color: inherit;
        @include interactionTransition;
        &:hover {
          color: foreground($theme);
        }
      }

      * {
        &::-webkit-scrollbar-thumb {
          border-radius: 0px;
          border-color: foregroundHue1($theme);
        }

        &:hover {
          &::-webkit-scrollbar-thumb {
            border-radius: 0px;
            border-color: foregroundHue2($theme);
          }
        }
      }
    }
  }
}
