
.welcome {


  .part1 {
    box-sizing: border-box;
    padding: 100px 0px;
    min-height: 400px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;



    // cf https://www.google.fr/search?q=science+fiction+planet+wallpaper&tbm=isch&tbs=rimg:CdkgNReDB9O-IjjoBJENfRtixEGVumPcJO9qv7kvvHbistcADNDm8ZY3d38x_1dbzzd_1n0haDQDt2Tm7MXSNk6286lCoSCegEkQ19G2LEEdVUbUPDF7UMKhIJQZW6Y9wk72oRdMBx5OywSHoqEgm_1uS-8duKy1xHsMwOjOOlWRCoSCQAM0Obxljd3EdAuhkTbXIBwKhIJfzH91vPN3-cRK2YJKzLYrMoqEgnSFoNAO3ZObhHQppWm7zbYhioSCcxdI2TrbzqUEYOI1kqOSnG1&tbo=u&sa=X&ved=0ahUKEwjY26i7reDVAhWDvxQKHSbyDY4Q9C8IHA&biw=1600&bih=781&dpr=2#imgrc=AAzQ5vGWN3cXCM:
    // for images
    // background: url('./planet.jpg');
    // background-position: top center;
    // background-size: 100%;

    position: relative; // for the eyecatcher
    // overflow: hidden;

  }

  .screen {
    background: black;
  }

  .background {
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    opacity: 0.6;
  }

  .center {
    position: relative;
    z-index: 3;
    text-align: center;
  }

  .eyeCatcher {
    position: absolute;
    bottom: 10px;
    right: 30px;
    z-index: 4;
  }




  h1 {
    // color: white;
  }

  h2 {
    // color: white;
  }
}
