/**
 * Frozen winter is a light theme
 */

/* colors */
$frozen_winter_foreground: #041c28;
$frozen_winter_foreground_hue1: #92afbf;
$frozen_winter_foreground_hue2: #4f8ba7;
$frozen_winter_foreground_hue3: #103e55;

$frozen_winter_background: #e6e1de;

@import url('https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css');

$frozen_winter_defaultFontFamily: 'Jost', sans-serif;

$frozen_winter_defaultFontWeight: 500;
$frozen_winter_defaultFontSize: 1.2em;

$frozen_winter_boldFontWeight: 500;

$frozen_winter_titleFontFamily: 'Jost', sans-serif;
$frozen_winter_titleFontWeight: 500;

$frozen_winter_subtitleFontFamily: 'Jost', sans-serif;
$frozen_winter_subtitleFontWeight: 400;
