@import "../../style/index";

.adscreen {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

  &.backgroundcross {
    background: url('./cross.png');
    background-repeat: repeat;
    background-position: center center;
  }

  &.backgroundplain {
    background: $background;
  }

  &.platformcomputer {

  }


  :global {
    h1 {
      color: $foreground;
      text-transform: uppercase;
      font-size: 2.4em;
      margin: 0;
      padding: 0 0 20px 0;
      @include fontExtraBold;
    }

    h2 {
      color: $foreground_hue2;
      font-size: 1.7em;
      margin: 0;
      padding: 0 0 20px 0;
      @include fontBold;

    }

    h3 {
      color: $foreground;
      text-transform: uppercase;
      font-size: 1.4em;
      margin: 0;
      padding: 0 0 10px 0;
      @include fontExtraBold;
    }

    p {
      @include font;
      line-height: 1.4em;
      text-align: justify;
      color: $foreground;
      font-size: 1.0em;

      &.light {
        color: $foreground_hue2;
        font-size: 0.97em;
      }

      a {
        color: inherit;
        text-decoration: none;

        &:not([href=""]) {
          cursor: pointer;
          @include fontBold;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    strong {
      @include fontExtraBold;
      text-transform: uppercase;
    }
  }

}
