@import "../../../style/index";

.adHexaButton {
  $iconWidth: 50px;
  height: $iconWidth;
  width: $iconWidth;
  cursor: pointer;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  display: inline-block;

  .adHexaButtonIcon {
    height: $iconWidth;
    width: $iconWidth;
    background: url('./hexagone.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 0.7em;
      color: $foreground;
    }
  }

  &.discreet {
    .adHexaButtonIcon {
      @include transition(opacity $defaultFunction $defaultDuration);
      opacity: 0.4;
    }

    &:hover .adHexaButtonIcon {
      opacity: 1;
    }
  }
}
