.input {
  display: inline-flex;
  margin-right: 20px;
}

.button {
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    text-decoration: underline;
  }
}
