.AdLoader  {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  $defaultWidth: 100px;
  height: $defaultWidth;
  width: $defaultWidth;
  .loader {
    width: 100%;
    // position: absolute;
    // width: 250%;
  }
}
