@import "~normalize-scss";

$borderNormalWidth: 2px;
$widgetNormalHeight: 45px;
$formNormalMargin: 10px;

/* positioning and layout */
$sqrt2: 1.414213562;

@import './animation';
@import './layout';
@import './themes/moon-light';

@mixin borderedWidget {
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  vertical-align: middle;

  position: relative;
  z-index: z('button');

  /* prevent a href style */
  outline: none;
  text-decoration: none;

  &.normalSize {
    height: $widgetNormalHeight;
    padding: 12px 20px;
    border: $borderNormalWidth solid $foreground;
    font-size: 1em;
    margin-right: $formNormalMargin;
    margin-bottom: $formNormalMargin;
  }
}
