@import "../../../style/index";

.adRadioButton {

  display: inline-flex;
  justify-content: left;
  align-items: center;

  &.fluid {
    display: block;
  }

  &.normalSize {
    margin-right: $formNormalMargin;
    margin-bottom: $formNormalMargin;
  }

}

.adRadioButtonOption {
  // display: inline-block;
  background: transparent;
  border: none;
  outline: none;
  vertical-align: middle;

  &:active, &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
  border: 0;
  }



  &.normalSize {
    margin-right: $formNormalMargin;
    margin-bottom: $formNormalMargin;

    .adRadioButtonOptionLabel {
      padding-left: $formNormalMargin;
    }
  }

  .adRadioButtonOptionContent {
    display: inline-block;
    cursor: pointer;
  }


  .adRadioButtonOptionIcon {
    display: inline-block;
    color: $foreground;
    font-size: 1.5em;
    vertical-align: middle;
    cursor: pointer;
  }


  .adRadioButtonOptionLabel {
    display: inline-block;
    @include noSelect;
    color: $foreground;
    // font-size: 1.2em;
    font-size: 0.95em;
    vertical-align: middle;
    text-transform: uppercase;
    @include fontBold;
    cursor: pointer;
  }
}
