@import "~styles/themes";
@import "~styles/transitions";

.AdSelect {

  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  box-sizing: border-box;

  position: relative;
  z-index: 100000;

  @include apparitionTransition;
  opacity: 1;

  $width: 300px;

  @each $theme in $themes {
    &.#{$theme} {
      &:not(.disabled) {
        border: $borderWidth solid foreground($theme);
      }

      &.disabled {
        border: $borderWidth solid foregroundHue1($theme);
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  width: 0px;
  height: 0px;

  &.showHeight {
    height: $height;
  }

  &.showWidth {
    width: $width;
  }

  .prefixLeft, .left {
    display: flex;
    align-items: center;
    justify-content: center;

    @each $theme in $themes {
      &.#{$theme} {
        // color: background($theme);
        &:not(.disabled) {
          color: foreground($theme);
        }

        &.disabled {
          color: foregroundHue1($theme);
        }

      }
    }
  }

  .prefixLeft {
    flex: 0 0 auto;
    padding: 0px 2px 0px $horizontalPadding;
    font-size: 0.9em;
  }

  .left {
    flex: 0 0 40px;

    .icon {
      color: inherit;
      font-size: 20px;
    }
  }


  .toggle {
    box-sizing: content-box;
    flex: 0 0 auto;
    position: relative;
    background: transparent;

    border: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    padding: 0 $horizontalPadding;

    opacity: 0;
    @include apparitionTransition;
    transform: rotate(0deg);
    transform-origin: center center;
    &.rotated {
      transform: rotate(180deg);
    }

    &:not(:disabled) {
      cursor: pointer;
    }

    &.show {
      opacity: 1;
    }

    @each $theme in $themes {
      &.#{$theme} {
        // @include interactionTransition;

        &:disabled {
          color: foregroundHue1($theme);
        }

        &:not(:disabled) {
          color: foregroundHue2($theme);

          &:hover {
            color: foreground($theme);
          }
        }
      }
    }
  }


  .selection {
    margin-left: $horizontalPadding;
    flex: 1 1 auto;

    opacity: 0;
    @include apparitionTransition;

    &.showSelection {
      opacity: 1;
    }

    &.noMargin {
      margin-left: 0;
    }

    .input, .button {
      background: transparent;
      outline: none;
      border: none;
      padding: 8px $horizontalPadding 8px 0px;

      display: block;
      width: 100%;
      font-size: 0.9em;

      &:disabled, &.disabled {
        cursor: not-allowed;
      }

      @each $theme in $themes {
        &.#{$theme} {
          &:not(:disabled):not(.disabled) {
            color: foreground($theme);
          }
          &:disabled, &.disabled {
            color: foregroundHue1($theme);
          }

          font-family: defaultFontFamily($theme);
          -webkit-font-smoothing: antialiased!important;
          -moz-osx-font-smoothing: grayscale!important;
          font-weight: defaultFontWeight($theme);
        }
      }
    }

    .button {
      text-align: left;

      &:not(.disabled) {
        cursor: pointer;
      }
    }
  }
}

.optionList {
  position: absolute;
  z-index: 1000;
  // top: 0px;
  // left: 0px;

  .options {
    position: absolute;
    top: 0px;
    left: -1px;
    right: -1px;

    @each $theme in $themes {
      &.#{$theme} {
        background: background($theme);
        // border: $borderWidth solid foreground($theme);
      }
    }

    .option {
      outline: none;
      border: none;
      display: block;
      width: 100%;
      text-align: left;
      font-size: 0.9em;
      @include interactionTransition;
      padding: 5px 10px;
      transform-origin: top center;
      transform: rotate3d(1, 0, 0, 0deg);
      position: relative;
      opacity: 0.999;
      z-index: 1000;

      &.hidden {
        transform: rotate3d(1, 0, 0, 90deg);
      }

      &:not(.disabled) {
        cursor: pointer;
      }

      @each $theme in $themes {
        &.#{$theme} {
          background: background($theme);
          font-family: defaultFontFamily($theme);
          -webkit-font-smoothing: antialiased!important;
          -moz-osx-font-smoothing: grayscale!important;
          font-weight: defaultFontWeight($theme);
          border-bottom: 1px solid foregroundHue1($theme);

          border-left: $borderWidth solid foreground($theme);
          border-right: $borderWidth solid foreground($theme);

          &:last-child {
            border-bottom: $borderWidth solid foreground($theme);
          }

          &:not(:last-child) {
            border-bottom: 1px solid foregroundHue1($theme);
          }


          &:not(.disabled) {
            color: foregroundHue2($theme);

            &:hover{
              background: foreground($theme);
              color: background($theme);
            }
          }

          &.active {
            background: foreground($theme);
            color: background($theme);
          }
          &.disabled {
            color: foregroundHue1($theme);
          }
        }
      }
    }
  }
}
