@import "../../style/index";

.adProgressBar {
  display: block;
  width: 100%;
  padding: 10px 0px;
  text-align: center;


  .adProgressBarContent {
    background: $foreground_hue2;
    position: relative;

    &.normalSize {
      height: 2px;
    }
  }

  .adProgressBarLabel {
    padding-bottom: 5px;
    font-size: 1em;
    @include font;
    color: $foreground_hue2;
  }

  .adProgressBarProgress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: $foreground;
    @include transition($defaultFunction $defaultDuration width);
  }
}
