:global {
  .fade-enter {
    opacity: 0;
    z-index: 1;

    &.fade-enter-active {
      opacity: 1;
      transition: opacity 250ms ease-in;
    }
  }

  .slide-left-enter {
    position: relative;
    right: 2000px;
    &.slide-left-enter-active {
      right: 0px;
      transition: right 700ms ease-out;
    }
  }

  .slide-right-enter {
    position: relative;
    left: 2000px;
    &.slide-right-enter-active {
      left: 0px;
      transition: left 700ms ease-out;
    }
  }
}
