@import "~animations";

:global {
  html, body {
    margin: 0;
    height: 0;
  }

  html, body {
    height: 100%;
    // position: relative;
  }

  #root {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
  }

  .fadeIn-enter {
    opacity: 0;
    transform: translateX(-40px);
    // z-index: 1;

    &.fadeIn-enter-active {
      opacity: 1;
      transform: translateX(0px);
      transition: all 250ms ease-out;
    }
  }

  .fadeInRight-enter {
    opacity: 0;
    transform: translateX(40px);

    &.fadeInRight-enter-active {
      opacity: 1;
      transform: translateX(0px);
      transition: all 250ms ease-out;
    }
  }

  .fadeInTop-enter {
    position: relative;
    opacity: 0;
    bottom: 40px;
    z-index: 1;

    &.fadeInTop-enter-active {
      opacity: 1;
      bottom: 0px;
      transition: all 250ms ease-out;
    }
  }

  .fadeInBottom-enter {
    position: relative;
    opacity: 0;
    top: 40px;
    z-index: 1;

    &.fadeInBottom-enter-active {
      opacity: 1;
      top: 0px;
      transition: all 250ms ease-out;
    }
  }


}
