@import "../../style/index";

.adSeparator {
  position: relative;
  height: 2px;
  width: 100%;
  background: $foreground_hue1;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    left: 0;
    background: $foreground_hue2;
  }

  &:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    right: 0;
    background: $foreground_hue2;
  }
}
